@media screen and (max-width: 768px) {
  main {
    width: 80%;
    grid-template-areas:
      "a b"
      "c d"
      "e e";
    gap: 1.2rem;
  }

  .daniel {
    grid-area: a;
  }
  .jonah {
    grid-area: d;
    padding: 2rem 2rem 2rem 2rem;
  }
  .harmon {
    grid-area: c;
  }
  .patrick {
    grid-area: b;
  }
  .kira {
    grid-area: e;
    padding: 2rem 2rem 2rem 2rem;
  }
}
