@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-barlow: "Barlow Semi Condensed", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  background-color: hsl(0, 0%, 81%);
  width: 100vw;
  height: 100vh;
}

main{
  width: 75%;
  height: 70%;
  display: grid;
  grid-template-areas: 
  'a a b c'
  'd e e c'
  ;
  gap: 1.5rem;
}

.daniel{
  background-color: hsl(263, 55%, 52%);
  grid-area: a;
}

.jonah {
  background-color: hsl(217, 19%, 35%);
  grid-area: b;
}

.kira {
  background-color: hsl(0, 0%, 100%);
  grid-area: c;
}

.harmon {
  background-color: hsl(0, 0%, 100%);
  grid-area: d;
}

.patrick {
  background-color: hsl(219, 29%, 14%);
  grid-area: e;
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
