@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-barlow: "Barlow Semi Condensed", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  background-color: hsl(0, 0%, 81%);
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
}

main {
  width: 75%;
  height: 70%;
  display: grid;
  grid-template-areas:
    "a a b c"
    "d e e c";
  gap: 1.5rem;
  font-family: var(--font-barlow);
}

.daniel {
  background-color: hsl(263, 55%, 52%);
  grid-area: a;
  border-radius: 0.9rem;
  position: relative;
}

img {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
}

.daniel > img {
  width: 140px;
  height: 120px;
  position: absolute;
  right: 5rem;
  top: 0;
  border-radius: 0;
  z-index: 0;
}

h1 {
  font-size: 1.1rem;
  font-weight: 500;
}
h2 {
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 50%;
  color: hsl(0, 0%, 100%);
}

.daniel p {
  position: relative;
  z-index: 10;
}

.daniel > div,
.jonah > div,
.kira > div,
.harmon > div,
.patrick > div {
  display: flex;
  justify-content: start;
  column-gap: 1rem;
  margin-bottom: 1.1rem;
}

.kira > div > div > h2,
.harmon > div > div > h2 {
  color: hsl(219, 29%, 14%);
}

.daniel > div > div h1,
.jonah > div > div h1,
.patrick > div > div h1 {
  color: hsl(0, 0%, 100%);
}

.harmon > div > div h1,
.kira > div > div h1 {
  color: hsl(219, 29%, 14%);
}

.jonah,
.kira,
.harmon,
.patrick {
  padding: 2rem 2rem 0 2rem;
}

.daniel, .patrick {
  padding: 2rem 2rem 2rem 2rem;
}

.daniel p:nth-of-type(1),
.jonah p:nth-of-type(1),
.patrick p:nth-of-type(1) {
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 500;
}

.kira p:nth-of-type(1),
.harmon p:nth-of-type(1){
  color: hsl(219, 29%, 14%);
  font-size: 1.3rem;
  font-weight: 500;
}

.daniel p:nth-of-type(2),
.jonah p:nth-of-type(2),
.patrick p:nth-of-type(2) {
  color: hsl(0, 0%, 100%);
  opacity: 70%;
  margin-top: 1.4rem;
}

.kira p:nth-of-type(2),
.harmon p:nth-of-type(2){
  color: hsl(219, 29%, 14%);
  opacity: 70%;
  margin-top: 1.4rem;
}


.jonah {
  background-color: hsl(217, 19%, 35%);
  grid-area: b;
  border-radius: 0.9rem;
}

.kira {
  background-color: hsl(0, 0%, 100%);
  grid-area: c;
  border-radius: 0.9rem;
}

.harmon {
  background-color: hsl(0, 0%, 100%);
  grid-area: d;
  border-radius: 0.9rem;
}

.patrick {
  background-color: hsl(219, 29%, 14%);
  grid-area: e;
  border-radius: 0.9rem;
}





.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
